body {
  --width : 180px;
  --left : 180px;
  --pos : 180px;
}

#dropdownMenu {
  border: 1px solid gray;
  position: absolute;
  text-align: left;
  transition: 1s;
}

.right {
  top : 0px;
  left : var(--pos);
}

.left {
  top : 0px;
  right : var(--pos);
}

.center {
  left : var(--left);
}

.displayNone {
  display: block;
}

#dropdownMenu p {
  margin: 10px 0px;
  font-size: 0.8rem;
}

#chatCount > p,
#settingText > p,
#messageCount > p,
#cancelText > p {
  display: inline-block;
  padding: 2.5px 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

#chatCount > p {
  background-color: #0090e2;
  border-radius: 15px;  
  color: white;
}

#settingText > p {
  background-color: #3ac47d;
  border-radius: 5px;  
  color: white;
}

#messageCount > p {
  background-color: #f7b924;
  border-radius: 5px;  
  color: black;
}

#chatCount > p:hover,
#settingText > p:hover,
#messageCount > p:hover,
#cancelText > p:hover {
  cursor: pointer;
}

#cancelText > p {
  background-color: #d92550;
  border-radius: 5px;
  padding: 7.5px 12.5px;
  color: white;
}
#cancelText > p:hover {
  cursor: pointer;
  background-color: #ad1e40;
}

#activityContainer,
#accountContainer,
#dropdownSettingMenu > div {
  padding: 10px;
  padding-top: 5px;
}

#activityContainer,
#accountContainer,
#cancelContainer {
  background-color: white;
}

#cancelContainer {
  padding: 10px;
}

#accountContainer {
  border-bottom: 1px solid gray;
}

#dropdownSettingMenu {
  text-align: center;
}

.dropdownTitle {
  color: gray;
  font-weight: bold;
}

.dropdownText {
  color: #3f6ad8;
  display: inline-block;
}

.dropdownText:hover{
  cursor: pointer;
  color: gray;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#container {
  position: relative;
  
}

.size {
  width: var(--width);
}
