
#buttonContainer {
  position: relative;
}

#dropdownMenu {
  border: 1px solid gray;
  position: absolute;
  text-align: left;
  transition: 1s;
  /* display: none; */
}

.right {
  top : 0px;
  left : 180px;
}

.left {
  top : 0px;
  right : 180px;
}

.center {
  top: auto;
  left : auto;
  right : auto;
}

.displayNone {
  display: none;
}

#dropdownMenu p {
  margin: 10px 0px;
  font-size: 0.8rem;
}

#chatCount > p,
#settingText > p,
#messageCount > p,
#cancelText > p {
  display: inline-block;
  padding: 2.5px 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

#chatCount > p {
  background-color: #0090e2;
  border-radius: 15px;  
  color: white;
}

#settingText > p {
  background-color: #3ac47d;
  border-radius: 5px;  
  color: white;
}

#messageCount > p {
  background-color: #f7b924;
  border-radius: 5px;  
  color: black;
}

#chatCount > p:hover,
#settingText > p:hover,
#messageCount > p:hover,
#cancelText > p:hover {
  cursor: pointer;
}

#cancelText > p {
  background-color: #d92550;
  border-radius: 5px;
  padding: 7.5px 12.5px;
  color: white;
}
#cancelText > p:hover {
  cursor: pointer;
  background-color: #ad1e40;
}

#activityContainer,
#accountContainer,
#dropdownSettingMenu > div {
  padding: 10px;
  padding-top: 5px;
}

#activityContainer,
#accountContainer,
#cancelContainer {
  background-color: white;
}

#cancelContainer {
  padding: 10px;
}

#accountContainer {
  border-bottom: 1px solid gray;
}

#dropdownSettingMenu {
  text-align: center;
}

.dropdownTitle {
  color: gray;
  font-weight: bold;
}

.dropdownText {
  color: #3f6ad8;
  display: inline-block;
}

.dropdownText:hover{
  cursor: pointer;
  color: gray;
}

.flex {
  display: flex;
  justify-content: space-between;
}

select {
  padding:10px; 
  width: 95%; 
  border: 1px solid #e2e2e2;
}

header{
  height: 50px;
}

header h3 {
  text-align: center;
}

section {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

li > p, 
li > p:hover,
#dropdownSettingMenu {
  transition: 1s;
}

li > p:hover {
  font-size : 1.25rem;
  text-decoration: underline;
}

input {
  display: none;
}

#nav {
  width: 15%;
  margin-right : 20px;
}

#menu {
  width: 30%; 
  overflow: scroll; 
  overflow-x:unset;
  height: 850px;
  margin-left: 20px;
}

#container {
  width: 55%; 
  padding: 0 10px 0 10px; 
  text-align: center;
}

.button {
  padding: 10px; 
  border-radius: 10px; 
  transition: 1s;
  width: 100%;
  border: 1px solid white;
}

.button > p {
  margin: 0;
}

.buttonDisplay{
  display: inline-block;
}

.tag {
  background-color: #eeeeee;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 10px;
  display: inline-block;
  margin: 0;
}

.tag:hover, 
.selectContainer > label:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.tag, .tag:hover, 
.selectContainer, 
.selectContainer > label:hover
.borderNone {
  transition: 1s;
}

.selectContainer {
  background-color: #eeeeee;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.selectContainer > label {
  padding: 5px 15px;
  border-radius: 10px;
}

.disabled {
  opacity: 50%;
  cursor: default;
}

.block {
  display: block;
}

.text {
  display: inline;
}

.hover {
  cursor: pointer;
}

.default {
  color: white;
  background-color: black;
  border-color: black;
}

.default-hover,
.default-change {
  color: black;
  background-color: white;
  border-color: white;
}

.primary {
  color: white;
  background-color: #3f6ad8;
  border-color:#3f6ad8;
}

.primary-change {
  color: #3f6ad8;
  background-color: white;
  border-color:#3f6ad8;
}

.primary-hover {
  color: white;
  background-color: #2651be;
  border-color: #2651be;
}

.primary-hover-change {
  color: #2651be;
  background-color: white;
  border-color: #2651be;
}

.secondary {
  color: white;
  background-color: #6c757d;
  border-color: #6c757d;
}

.secondary-change {
  color: #6c757d;
  background-color: white;
  border-color:#6c757d;
}

.secondary-hover {
  color: white;
  background-color: #545b62;
  border-color: #545b62;
}

.secondary-hover-change {
  color: #545b62;
  background-color: white;
  border-color: #545b62;
}

.success {
  color: white;
  background-color: #3ac47d;
  border-color: #3ac47d;
}

.success-change {
  color: #3ac47d;
  background-color: white;
  border-color:#3ac47d;
}

.success-hover {
  color: white;
  background-color: #2e9d64;
  border-color: #2e9d64;
}

.success-hover-change {
  color: #2e9d64;
  background-color: white;
  border-color: #2e9d64;
}

.info {
  color: white;
  background-color: #16aaff;
  border-color: #16aaff;
}

.info-change {
  color: #16aaff;
  background-color: white;
  border-color:#16aaff;
}

.info-hover {
  color: white;
  background-color: #0090e2;
  border-color: #0090e2;
}

.info-hover-change {
  color: #0090e2;
  background-color: white;
  border-color: #0090e2;
}

.warning {
  color: black;
  background-color: #f7b924;
  border-color: #f7b924;
}

.warning-change {
  color: #f7b924;
  background-color: white;
  border-color:#f7b924;
}

.warning-hover {
  color: black;
  background-color: #e0a008;
  border-color: #e0a008;
}

.warning-hover-change {
  color: #e0a008;
  background-color: white;
  border-color: #e0a008;
}

.danger {
  color: white;
  background-color: #d92550;
  border-color: #d92550;
}

.danger-change {
  color: #d92550;
  background-color: white;
  border-color: #d92550;
}

.danger-hover {
  color: white;
  background-color: #ad1e40;
  border-color: #ad1e40;
}

.danger-hover-change {
  color: #ad1e40;
  background-color: white;
  border-color: #ad1e40;
}

.alt {
  color: white;
  background-color: #794c8a;
  border-color: #794c8a;
}

.alt-change {
  color: #794c8a;
  background-color: white;
  border-color: #794c8a;
}

.alt-hover {
  color: white;
  background-color: #5c3a69;
  border-color: #5c3a69;
}

.alt-hover-change {
  color: #5c3a69;
  background-color: white;
  border-color: #5c3a69;
}

.light {
  color: black;
  background-color: #eee;
  border-color: #eee;
}

.light-change {
  color: rgb(197, 197, 197);
  background-color: white;
  border-color: rgb(197, 197, 197);
}

.light-hover {
  color: black;
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}

.light-hover-change {
  color: #757575;
  background-color: white;
  border-color: #757575;
}

.dark {
  color: white;
  background-color: #343a40;
  border-color: #343a40;
}

.dark-change {
  color: #343a40;
  background-color: white;
  border-color: #343a40;
}

.dark-hover {
  color: white;
  background-color: #1d2124;
  border-color: #1d2124;
}

.dark-hover-change {
  color: #1d2124;
  background-color: white;
  border-color: #1d2124;
}

.border-white {
  border-color: white;
}

.large-padding {
  padding: 15px;
}

.normal-padding {
  padding: 10px;
}

.small-padding {
  padding: 5px;
}

.large-fontSize {
  font-size: 1.3rem;
}

.normal-fontSize {
  font-size: 1rem;
}

.small-fontSize {
  font-size: 0.7rem;
}

.large-size {
  width: 260px;
}

.normal-size {
  width: 220px;
}

.small-size {
  width: 180px;
}
