body {
  --width : 180px;
  --left : 180px;
}

#container {
  position: relative;
}

#dropdownMenu p {
  margin: 10px 0px;
  font-size: 0.8rem;
}

#dropdownMenu {
  border: 1px solid gray;
  position: absolute;
  text-align: left;
}

.right {
  top : 0px;
  left : var(--left);
}

.left {
  top : 0px;
  right : var(--left);
}

.center {
  left : var(--left);
}

.displayNone {
  display: none;
}

.text > p {
  display: inline-block;
  padding: 2.5px 10px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.text > p:hover{
  cursor: pointer;
}

.chatCount > p {
  background-color: #0090e2;
  border-radius: 15px;  
  color: white;
}

.settingText > p {
  background-color: #3ac47d;
  border-radius: 5px;  
  color: white;
}

.messageCount > p {
  background-color: #f7b924;
  border-radius: 5px;  
  color: black;
}

.cancelText > p {
  background-color: #d92550;
  border-radius: 5px;
  padding: 7.5px 12.5px;
  color: white;
}

.cancelText > p:hover {
  cursor: pointer;
  background-color: #ad1e40;
}

#dropdownSettingMenu {
  text-align: center;
}

#dropdownSettingMenu h3 {
  margin : 0
}

.activityContainer,
.accountContainer,
#dropdownSettingMenu > div {
  padding: 10px;
  padding-top: 5px;
}

.activityContainer,
.accountContainer,
.cancelContainer {
  background-color: white;
}

.cancelContainer {
  padding: 10px;
}

.accountContainer {
  border-bottom: 1px solid gray;
}

.dropdownTitle {
  color: gray;
  font-weight: bold;
}

.dropdownText {
  color: #3f6ad8;
  display: inline-block;
}

.dropdownText:hover{
  cursor: pointer;
  color: gray;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.size {
  width: var(--width);
}
