input {
  display: inline-block;
}

select,
textarea {
  width: 100%;
}

input[type='text'] {
  width: 100%;
  height: 30px;
}

input[type='text'],
textarea {
  border-radius: 10px;
  padding: 5px 10px;
}

input[type='radio'],
input[type='checkbox'] {
  margin: 0px 10px;
}

textarea {
  resize: vertical;
}

#menu {
  overflow: hidden; 
}

#container  {
  text-align: start;
}

#container div {
  margin: 30px 0px;
}

.button {
  padding: 10px;
  font-size: 1rem;
}

.bdDefault {
  border: 1px solid #ddd;
}

.bdRed {
  border: 1px solid red;
}

.textRed {
  color: red;
  font-size: 0.7rem;
  margin: 10px 0px;
}
