input {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

label:hover {
  cursor: pointer;
  text-decoration: underline;
}

input[type='checkbox'] {
  display: none;
}

input[type='text'] {
  width: calc(100% - 25px);
}

input[type='color'] {
  width: 50%;
}

#colorBox {
  background-color: white;
  border: 1px solid black;
  padding: 5px 10px;
  margin-top: 15px;
  width: 80%;
}

#colorBox > p {
  margin: 5px 0px;
}

#timelineContainer {
  display: flex;
  margin-bottom: 20px;
}

#timelineContainer > div {
  margin: 0px 10px;
} 

#timelineContainer > div:nth-child(1),
#timelineContainer > div:nth-child(2){
  text-align: center;
  margin-top: 5px;
} 

#timelineContainer > div > p {
  margin: 0;
} 

#textContainer {
  word-break: break-all;
  text-align: left;
}

#selectContainer:hover label{
  cursor: default;
  text-decoration: none;
}

#menu div {
  margin-bottom: 25px;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

#menu p {
  margin: 10px 0px;
}

#color {
  padding: 0;
}

.color {
  display: inline-block;
  width : 10px;
  height : 10px;
  border-radius: 10000px;
  padding: 0;
  border : 4px solid white;
}

.check {
  font-weight: bold;
}

.time,
.color {
  margin-right: 10px;
}

.none {
  display: none;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
}

.time {
  color: rgb(175, 175, 175);
}
